
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.sensor-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(43, 203, 150, 0.284);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease
 
}
.sensor-card li{
  list-style: none;
  margin: 4px 0;
}


